{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block body %}
<div>

    <div class="header bg-dark p-3 d-flex justify-content-between">
        <div class="home   ">
            <a href="" class="text-white text-decoration-none">Home</a>
        </div>
        <div class="inloggen  ">
            <a href="{{ path('app_login')  }}" class="text-white text-decoration-none ">Inloggen</a>
        </div>

    </div>



</div>